<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style.css" />

    <script src="~/Scripts/google_map.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq_IeyGoeiwUHrUoRqtmSzTNHnl_u1H70&callback=initMap">
    </script>

    <title>@ViewBag.Title Consumer Works</title>

</head>
<body>

    <nav class="navbar navbar-expand-md top-nav">
        <a href="PersonalProfile" class="navbar-brand"><img src="~/Content/Images/cslogo.jpg" alt="Logo" style="width:50px;height:50px;"><span class="logo-link">ConsumerWorks</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
            <ul class="navbar-nav ml-auto">
                <form class="navbar-form navbar-left">
                    <div class="input-group" style="width: 100%">
                        @if (IsSectionDefined("NavLinks"))
                        {
                            @RenderSection("NavLinks")
                        }
                        else
                        {
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="PersonalProfile">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Contracts">Contracts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Help">Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Index">Logout</a>
                                </li>
                            </ul>
                        }
                    </div>
                </form>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <nav class="navbar sticky-bottom btm-nav">
        <div class="panel">
            <!-- Add font awesome icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
    </nav>


    <script>
        /*Navbar dynamic highlighting*/
        jQuery(function () {
            var page = location.pathname.split('/').pop();
            $(".active").removeClass("active");
            $('a[href="' + page + '"]').addClass('active')
        })

    </script>
</body>
</html>
