@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron main-tron">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1 class="display-3">Help</h1>
    </div>
    <div class="container-fluid">
        <!--Content Area-->
        <div class="row">
            <div class="jumbotron col col-sm-12 col-md-4 help-platform">
                <div class="card" style="background-color: #f2f2f4">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Help Page Navigation</h5><hr>
                        </div>
                        <div class="card-body">
                            <p>
                                <a class="scrollbutton" data-scroll="#">Contractor/Freelance</a>
                                <br>
                                <a class="scrollbutton" data-scroll="#">Project Initiation/Completion</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron col col-sm-12 col-md-8 help-platform">
                <div class="card" style="background-color: #f2f2f4">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center">Help Center</h2>
                        <hr>
                        <br>
                        <div class="card-text">
                            <h5>Business Process Model</h5>
                            <p style="margin-left: 50px">
                                Consumer Works’ objective is to earn revenues by connecting users to one another to build
                                their professional experience through our premium services
                            </p><br>
                            <h5>Contractor/Freelance Worker Processes</h5>
                            <ol type="1">
                                <li>Create a user account online or mobile</li>
                                <li>
                                    Completes a profile describing capabilities and interests <br>
                                    - If there is any related experience, user can add that to history
                                </li>
                                <li>Flags herself/himself with keywords such as #HTML, #Drywall, #Hospitality</li>
                                <li>
                                    On mobile application, user can enable the “Broadcast” feature notifying businesses
                                    or project managers when they are in their area or available for discussion
                                </li>
                                <li>Once connected to a project, users can work together to complete the project</li>
                                <li>
                                    Upon completion of the project, or completion of a user’s portion of the project,
                                    manager/initiator of project will submit completion status into the mobile app or the website
                                </li>
                                <li>
                                    All relevant users will be notified and given the opportunity to rate every user and
                                    manager who was a part of the project
                                </li>
                                <li>User and business/manager portfolios and ratings will be updated to include the newly completed project</li>
                            </ol><br>
                            <h5>Project Initiation/Completion</h5>
                            <ol type="1">
                                <li>
                                    Projects can be initiated by other freelancers/users or businesses by selecting the “Start a Project”
                                    option on the website or their mobile app
                                </li>
                                <li>
                                    Project details will be input into project profile/description and flagged with candidate preferences such
                                    as #HTML, #Drywall, #Hospitality
                                </li>
                                <li>
                                    Once a project is created, users can enable the “Broadcast” feature to notify members flagged with candidate
                                    preferences within project’s selected distance range of the new project
                                </li>
                                <li>
                                    Once connected to candidates, project managers can work with candidates and repeat broadcasting for required
                                    professionals as needed until the project has reached completion
                                </li>
                                <li>
                                    Upon portion completion, project managers can submit completion stats into the mobile or web application which
                                    will notify all relevant parties of completion and provide anonymous survey of each candidate’s work
                                </li>
                                <li> All portfolios will be updated to reflect this</li>
                            </ol><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
