@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron main-tron">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1 class="display-3">Listings</h1>
    </div>
    <div class="container-fluid listing-platform">
        <div class="row">
            <div class="jumbotron offset-md-1 col col-sm-12 col-md-4 contract-tron">
                <div class="card">
                    <div class="card-header job-intro"><h4 class="announcement-header">New Webpage Needed</h4><h5 class="card-title job-title">Silph Co.</h5></div>
                    <div class="card-body">
                        <p class="card-text">We are looking for a Java Developer with experience in building high-performing, scalable, enterprise-grade applications.</p>
                        <p class="card-text">Java developer roles and responsibilities include managing Java/Java EE application development while providing expertise in the full software development lifecycle, from concept and design to testing.</p>
                        <p class="card-text">Java developer responsibilities include designing, developing and delivering high-volume, low-latency applications for mission-critical systems.</p>
                    </div>
                    <a class="btn btn-primary btn-lg col-sm-12 btn-apply" href="#" role="button">Apply here!</a>
                </div>
                <br />
                <div class="card">
                    <div class="card-header job-intro"><h4 class="announcement-header">Front End Design</h4><h5 class="card-title job-title">Diamond Dogs Inc.</h5></div>
                    <div class="card-body">
                        <p class="card-text">We are looking for a web designer with experience in building good looking, simple to read webpages.</p>
                        <p class="card-text">We are looking for a front end developer to help with the design and implementation of out current website.</p>
                        <p class="card-text">Front end developer roles and responsibilities include Developing new user-facing features. Build reusable code and libraries for future use. Ensure the technical feasibility of UI/UX designs. Optimize application for maximum speed and scalability. Assure that all user input is validated before submitting to back end. Collaborate with our team members and stakeholders.</p>
                        <p class="card-text">Pay is dependent on final product but ranges from $1000 - $3000</p>
                    </div>
                    <a class="btn btn-primary btn-lg col-sm-12 btn-apply" href="#" role="button">Apply here!</a>
                </div>
            </div>
            <div class="jumbotron col col-sm-12 col-md-4 contract-tron">
                <div class="card">
                    <div class="card-header job-intro"><h4 class="announcement-header">Debugging Needed</h4><h5 class="card-title job-title">Anti Bug Co.</h5></div>
                    <div class="card-body">
                        <p class="card-text">We are looking for a skilled C# Developer with experience in debugging high-performing, scalable, applications.</p>
                        <p class="card-text">C# Debug engineer requirements are as follows: Profficient in C# with a good knowledge of its ecosystems. Familiarity with the .NET framework. Strong understanding of object oriented programming. Familiar with various design and architectural patterns. Experience with popular web application frameworks. Knack for writing clean reusable C# code. Very good at reading code.</p>
                        <p class="card-text">Upon completion you will be paid $500 and may be granted a position at the company.</p>
                    </div>
                    <a class="btn btn-primary btn-lg col-sm-12 btn-apply" href="#" role="button">Apply here!</a>
                </div>
                <br />
                <div class="card">
                    <div class="card-header job-intro"><h4 class="announcement-header">New Webpage Needed</h4><h5 class="card-title job-title">Silph Co.</h5></div>
                    <div class="card-body">
                        <p class="card-text">We are looking for a Java Developer with experience in building high-performing, scalable, enterprise-grade applications.</p>
                        <p class="card-text">Java developer roles and responsibilities include managing Java/Java EE application development while providing expertise in the full software development lifecycle, from concept and design to testing.</p>
                        <p class="card-text">Java developer responsibilities include designing, developing and delivering high-volume, low-latency applications for mission-critical systems.</p>
                    </div>
                    <a class="btn btn-primary btn-lg col-sm-12 btn-apply" href="#" role="button">Apply here!</a>
                </div>
            </div>
            <div class="jumbotron col col-sm-12 col-md-3 contract-tron">



                <br />
                <div class="card">
                        <h3 class="card-header trending-box">Filter</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="City, State, or Zip" />
                            <input type="text" class="form-control" placeholder="Keyword" />
                            <select class="custom-select">
                                <option>Miminum Payout</option>
                                <option>$0</option>
                                <option>$100</option>
                                <option>$500</option>
                                <option>$1000</option>
                            </select>
                            <div class="btn btn-primary col-sm-12">Filter</div>
                        </div>
                    
                    <br />
                        <h3 class="card-title">Trending Tags</h3>
                        <div class="card-body">
                            <p class="card-text">
                                #developers #p #webdesigner #webdev #programmingmemes #web #enginrogramminglife #codingisfun #coderlife
                                #programmerslife #devlife #nodejs #coders #programmerlife #hacker #angular #engineering #google #c #hacking
                                #startup #dev #design #frontenddeveloper #worldcode #frontend #js #jquery #peoplewhocode #app
                            </p>
                    </div>

                    <!--</div>-->
                    <br />
                    <!--<div class="card">-->
                    <h3 class="card-title">Featured Projects!</h3>
                    <div class="card-body amazing-body">
                        <a href="#" class="btn-link"><h3 class="card-text amazing-text">Give a Kid a Good Book</h3></a>
                        <a href="#"><h3 class="card-tex amazing-text">Senior Literacy Project</h3></a>
                        <a href="#"><h3 class="card-text amazing-text">ErgoHealth App</h3></a>
                        <a href="#"><h3 class="card-text amazing-text">Recycle It All</h3></a>
                        <a href="#"><h3 class="card-text amazing-text">Star Count Universe Emulator</h3></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
