@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron main-tron">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1 class="display-3">Contact Us</h1>
    </div>
    <div class="container-fluid">
        <!--Content Area-->
        <div class="row">
            <div class="jumbotron col col-sm-12 col-md-4 help-platform">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-header">Customer Service</h3>
                        <h4 class="card-title">Call us at <span>1-800-867-5309</span> Monday thru Friday 8am to 6pm</h4>
                        <h4 class="card-title">Email Us <span>email@email.com</span> Guaranteed 24 hour response.</h4>
                        <h4 class="card-title"><span><a href="#">Chat</a></span> One of our reps any day of the week any time of the day.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
