@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron main-tron">
    <a name="profile"></a>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1 class="display-3">Profile</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron col col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/student.jpg" alt="Profile Picture">
                    <div class="card-body">
                        <div class="rate">
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                        </div>
                        <hr>
                        <h1 class="super-title">Brittany Taylor</h1>
                        <p class="card-text">
                            <span class="impact">Username:</span> Coder911<br>
                            <span class="impact">Email:</span> coder911@yesIhavemyowndomain.com<br>
                            <span class="impact">Focus:</span> Software Development<br>
                            <span class="impact">Bids:</span> 109<br>
                            <span class="impact">Completed:</span> 100<br>
                        </p>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <div class="jumbotron col col-sm-5 profile-platform">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Education</h3>
                        <hr>
                        <h5 class="card-text card-subheader-ws">University of North Florida</h5>
                        <p class="card-text">Bachelors Degree, Information Systems</p>
                        <p class="card-text darklight" style="color:grey">2015-Present</p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Skills</h3>
                        <hr>
                        <p class="card-text lightlit">
                            Skilled in PHP, Microsoft Word, Microsoft Office, HTML, and Cascading Style Sheets
                            CSS). Strong experience with multiple programming languages, with a Bachelor's degree focused in Computer
                            and Information Sciences, from University of North Florida.
                        </p>
                    </div>
                </div>
                <br />

            </div>
            <div class="jumbotron col col-sm-3 profile-platform">
                <div class="card" style="background-color: #f2f2f4">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Profile Navigation</h5><hr>
                        </div>
                        <div class="card-body">
                            <p>
                                <a href="#profile" class="inpage-link">Profile</a>
                                <br>
                                <a href="#portfolio" class="inpage-link">History</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Most Searched #Tags</h3>
                        <hr>
                        <p class="card-text common-tags">
                            #developers #p #webdesigner #webdev #programmingmemes #web #enginrogramminglife #codingisfun #coderlife
                            #programmerslife #devlife #nodejs #coders #programmerlife #hacker #angular #engineering #google #c #hacking
                            #startup #dev #design #frontenddeveloper #worldcode #frontend #js #jquery #peoplewhocode #app
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <a name="portfolio"></a>
            <div class="pb-2 mt-4 mb-2 border-bottom">
                <h1 class="display-3">Portfolio</h1>
            </div>
            <div class="jumbotron col-sm-12 profile-platform" id="profiletron">

                <div class="card" style="align-content: stretch">
                    <div class="card-body">
                        <h5 class="card-text">Web Design for LinkedIn LLC</h5>
                        <p class="card-text" style="color:grey">Nov. 2018 - Present <br> Jacksonville, FL</p>
                        <p class="card-text">
                            • Manage and update clients websites as needed<br>
                            • Write and edit web code using HTML5, CSS3, JavaScript, jQuery, Bootstrap, React<br>
                            • Communicate effectively with customers<br>
                        </p>
                        <hr>
                        <h5 class="card-text">Software Development for Apple</h5>
                        <p class="card-text" style="color:grey">January 2018 - September 2018 <br> Silicon Valley, CA</p>
                        <p class="card-text">
                            • Developed a backup and restore Application in JAVA from scratch for Apple’s iTunes NoSQL database<br>
                            •	Developed tools for data migration, load generation, data verification, performance monitoring for iTunes NoSQL database<br>
                            •	Debugging into performance issues, profiling and well-versed with various tools used for these purposes<br>
                            •	Extensively worked on AWS S3 SDK for Apple’s iTunes NoSQL backup and restore<br>
                        </p>
                        <hr>
                        <h5 class="card-text">Network Engineer at Cisco</h5>
                        <p class="card-text" style="color:grey">August 2017 - January 2018 <br> Tampa, FL</p>
                        <p class="card-text">
                            • Responsible for Cisco ASA 5505s and 5510s<br>
                            • Assist with day to day functionality of Cisco Call Managers, Voice Gateways, Unity and Unity Express devices<br>
                            • Manages Safe-net MobilePASS application for two way VPN authentication for company's users<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
